@import 'bulma';

html {
  background-color: #FAFAFA;
}

.container {
  margin-top: 5px;
}

.logo-devise {
  display:block;
  margin-left: auto;
  margin-right: auto; 
}

.notification {
  margin-bottom: 10px;
}

.topbar {
  border-bottom: 0.1rem ridge rgba(224,224,224,0.3);
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-superior {
  margin-top: 50px;
}

.field_with_errors {
  color: red;
}

.button.is-danger.is-outlined:hover{
  background-color: #ff3860 !important;
}

.button.is-info{
  background-color: #5236B2;
}

.button.is-info:hover{
  background-color: #5236B2;
}

