@import 'bulma';

html {
  background-color: #FAFAFA;
}

.container {
  margin-top: 50px;
}

.logo-devise {
  margin-bottom: 40px;
  display:block;
  margin-left: auto;
  margin-right: auto; 
}

.topbar{
  border-bottom: 0.1rem ridge rgba(224,224,224,0.3);
}

.form-group{
  margin-bottom: 10px;
}

