<div class="row">
  <% flash.each do |key, message| %>
    <div class="col">
      <div class="notification is-link">
        <%= message %>
        <button class="delete"></button>
      </div>
    </div>
  <% end %>
</div>
