<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a recuperação de senha.</p>

<p><%= link_to 'Clique aqui para criar uma nova senha', edit_password_url(@resource, reset_password_token: @token) %></p>
